body{
	width: auto;
	text-align: center;
	margin: 0px auto;
    font-family: 'Times New Roman';
}

#submit {
    clear: both;
	padding-top: 30px;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin-top: -5px;
}

li {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 200px;
    background: #BADA55;
    text-decoration: none;
    color: black;
}

h4 {
    clear: both;
    float: left;
}

p {
    font-size: 12pt;
}

a {
    text-decoration: none;
}

input {
    float: right;
    margin-top: 20px;
}

#input {
    text-align: center;
    margin: 0px auto;
    width: 400px;
}

#field {
    width: 100%;
    height: 50px;
}
